* {
  font-family: "Poppins", sans-serif;
}

/* BACKGROUND */

body {
  background-color: hsl(0, 0%, 98%);
}

body > div {
  min-height: 60vh;
}

/* HEADER */

.header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.header-description {
  font-size: 1.75rem;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  letter-spacing: 1px;
  margin-bottom: 0;
}

.header-text {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  letter-spacing: 1.2px;
  margin-top: 5px;
}

.header-content {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-top: 2%;
}

/* CONTENT */

.container-fluid.content {
  padding-left: 200px;
  padding-right: 200px;
}

.card {
  box-shadow: 0px 10px 6px -6px hsl(229, 6%, 66%) !important;
}

.card-title {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.card-text {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.card-icon {
  float: right;
}

.supervisor {
  border-top-color: hsl(180, 62%, 55%) !important;
  border-top-width: 5px !important;
  border-left: 0px;
}

.team-builder {
  border-top-color: hsl(0, 78%, 62%) !important;
  border-top-width: 5px !important;
}

.karma {
  border-top-color: hsl(34, 97%, 64%) !important;
  border-top-width: 5px !important;
  margin-top: 10%;
}

.calculator {
  border-top-color: hsl(212, 86%, 64%) !important;
  border-top-width: 5px !important;
}

footer {
  margin-top: 50px;
}

@media (min-width: 375px) {
  .container-fluid.content.content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-builder {
    margin-top: 10%;
  }
  .calculator {
    margin-top: 10%;
  }
}
